input{
  background-color: rgb(32,33,36);
  border-color: rgb(138,180,248);
  border-style: solid;
  border-radius: 15px;
  padding: 10px;
  width: 350px;
}

input:hover{
  border-color: rgb(232,234,237);
}

/*Hide arrows on number input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
