form{
  display: grid;
  grid-gap: 10px;
  justify-content: right;
  padding-top: 20px;
  padding-right: 80px
}
*{
  padding: 0;
  margin: 0;
}
input{
  background-color: rgb(32,33,36);
  border-color: rgb(138,180,248);
  border-style: solid;
  border-radius: 15px;
  padding: 10px;
}

input:hover, #anmeldeBtn:hover{
  border-color: aliceblue;
}

/*Hide arrows on number input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#anmeldeBtn{
  background-color: rgb(32,33,36);
  border-color: rgb(138,180,248);
  border-style: solid;
  border-radius: 15px;
  padding: 10px;
  margin-top: 30px;
  text-align: center;
  cursor: pointer;
}

input:hover, #anmeldeBtn:hover{
  border-color: aliceblue;
}

#anmeldeBtn:active{
  background-color: rgb(54, 56, 61);
}
