<form id="anmeldeForm">
  <h1>Anmeldeformular</h1>
  <label>Username</label>
  <input type="text" name="username" id="usernameInput" #username><br>
  <label>Name</label>
  <input type="text" name="name" id="nameInput" #name><br>
  <label>Nachname</label>
  <input type="text" name="nachname" id="nachnameInput" #nachname><br>
  <label>E-mail</label>
  <input type="email" name="email" id="emailInput" #email><br>
  <label>Adresse</label>
  <input type="text" name="adresseName" id="adresseInput" #adresseName><br>
  <label>PLZ</label>
  <input type="number" name="plz" id="plzInput" #plz><br>
  <label>Ort</label>
  <input type="text" name="ort" id="ortInput" #ort><br>

  <label>Schulniveau</label>
  <div id="formRadios">
    <label class="container">A
      <input type="radio" name="niveauRadio" #niveauA>
      <span class="checkmark"></span>
    </label>

    <label class="container">B
      <input type="radio" name="niveauRadio" #niveauB>
      <span class="checkmark"></span>
    </label>

    <label class="container">C
      <input type="radio" name="niveauRadio" #niveauC>
      <span class="checkmark"></span>
    </label>
    <select name="klassenStufe" id="klassenStufeInput" #klassenStufe>
      <option value="1">1. Klasse</option>
      <option value="2">2. Klassse</option>
      <option value="3">3. Klasse</option>
      <option value="4">4. Klasse</option>
      <option value="5">5. Klasse</option>
      <option value="6">6. Klassse</option>
      <option value="7">7. Klasse</option>
      <option value="8">8. Klasse</option>
      <option value="9">9. Klasse</option>
      <option value="10">10. Klasse</option>
    </select>
  </div>

  <label class="container2">Ich akzeptiere die <a
      href="https://new.siemens.com/ch/de/unternehmen/ueber-uns/agb.html">AGB</a>
    <input type="checkbox" #agb>
    <span class="checkmark2"></span>
  </label>

  <label class="container2">Siemens Newsletter abonnieren?
    <input type="checkbox" #newsletter>
    <span class="checkmark2"></span>
  </label>
  <a (click)="onsubmit(username.value, name.value, nachname.value, email.value, adresseName.value, plz.value, ort.value)"
    id="anmeldeBtn">Anmelden</a>
</form>